# It contains all the configs required in the project

artifacts:
  ARTIFACTS_DIR: artifacts
  TRAINED_MODEL_DIR: model
  BASE_MODEL_DIR: base_model
  BASE_MODEL_NAME: base_model.h5
  UPDATED_BASE_MODEL_NAME: updated_base_model.h5
  CHECKPOINT_DIR: checkpoints
  BASE_LOG_DIR: base_model_dir
  TENSORBOARD_ROOT_LOG_DIR: tensorboard_log_dir
  CALLBACKS_DIR: callbacks



data:
  data_source: 'E:\train\dogs-vs-cats\train'
  local_dir : ['data']
  bad_dir : ['bad_data_img']
  train : 'train_data'
  label1 : 'class_1'
  label2 : 'class_2'
  model_dir : model
  init_model_file : model.h5

params:
  img_size : [180,180,3]
  batch_size : 32
  loss : sparse_categorical_crossentropy
  lr_rate : 0.001
  metrics : ["accuracy"]
  validation_split : 0.2
  seed : 42
  buffer_size : 32
  epochs : 1



